<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>USer's Signup</title>
  </head>
  <body>
    <header class="major">
      <h2>Registration</h2>
      <p>Fill out the form carefully for registration.</p>
    </header>
    <br />
    <br />
    <div class="signup-container">
      <form class="" action="#" method="post">
        <div class="container">
          <h3 class="small-headings">Account Details</h3>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="username" required>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
          <label for="psw-repeat"><b>Confirm Password</b></label>
          <input type="password" placeholder="Confirm Password" name="password2" id="password2" required>
          <label for="photo"><b>Photo</b></label>
          <input type="file" name="photo" id="photo" accept="image/*"><br>
          <label for="Aadhar-card"><b>Aadhar Card No.</b></label>
          <input type="text" placeholder="Enter Aadhar Card Number" name="AadharcardNo" id="AadharcardNo"><br>
          <button type="submit" >Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
