<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Validation Page</title>
  </head>
  <body>
    <h1>Check Vaccinated or Not?</h1>
    <form class="form-inline" action="#" method="post">
      <div class="form-group">
        <label for="aadhar-no" class="sr-only">Aadhar Card Number</label>
        <input type="text" class="form-control" name="aadharno" id="Aadharno" placeholder="Enter Aadhar Card No" required>
      </div>
      <button type="submit" class="breadboard-btn-primary">Verify</button>
    </form>
  </body>
</html>
